
/* Your CSS Code here. */
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
	
}
.box{
	font-size: 40px;
	background-color: green;
	height: 70px;
	width: 70px;
}
#red{
	background-color: red;
	order: 1
}
#blue{
	background-color: blue;
	order: 2;
}
#green{
	order: -1;
}